<div class='footer'>
	<small>
		<%= link_to "One Month Rails", "http://onemonthrails.com",:target => "_blank" %>  
		by <%= link_to "Matton Griffel", "http://mattongriffel.com",:target => "_blank" %>
	</small>
</div>